.container {
  // display: flex;
  // flex-wrap: wrap;
  background-color: #100e1d;

  min-height: 100vh;

  display: grid;
  // grid-template-columns: minmax(300px, 1fr) minmax(500px, 1fr);

  grid-template-columns: 32% 68%;

  @media only screen and(max-width: 50em ) {
    grid-template-columns: 1fr;
  }
}

.left {
  background-color: #1e213a;
  text-align: center;

  position: relative;
}

.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;

  padding: 2rem 2rem;

  @media only screen and(max-width: 15.625em ) {
    //250px
    padding: 2rem 0;
  }
}

.btn-container {
  display: flex;
  margin-top: 4.2rem;
  justify-content: space-evenly;
  // padding: 4rem;
  padding-bottom: 0;

  margin-bottom: 4rem;
}

.search-btn {
  font-size: 1.6rem;
  padding: 0.8rem 1.6rem;
  cursor: pointer;
  background-color: #6e707a;
  color: #e7e7eb;
  border: 0;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &:focus {
    outline: none;
  }
}

.gps-icon {
  fill: #e7e7eb;
  width: 2.2rem;
  height: 2.2rem;
  background: rgba(255, 255, 255, 0.2);
  padding: 0.7rem;
  box-sizing: content-box;
  border-radius: 50%;
  cursor: pointer;
}

.weather-icon-container {
  /* padding: 3rem; */
  overflow: hidden;
  position: relative;
}

.weather-icon-bg {
  height: 30rem;
  background-image: url('assets/cloud-background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 130%;
  opacity: 0.1;

  @media only screen and(max-width: 50em ) {
    //800px
    background-size: contain;
  }
}

.weather-state-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20rem;
}

.weather-state {
  color: #a09fb1;
  font-weight: 600;
  font-size: 3.6rem;

  margin: 8rem 0;
}

.weather-temp {
  color: #e7e7eb;
  font-size: 7rem;
  font-size: 14rem;
  // line-height: 5.6rem;

  margin-top: 4rem;
}

.temp-scale {
  font-size: 3.6rem;
  font-weight: 400;
  color: #a09fb1;
}

.time {
  font-size: 1.8rem;
  color: #88869d;

  display: flex;
  justify-content: center;

  margin-bottom: 3rem;
}

.dot {
  margin: 0 1.6rem;
}

.location-name {
  font-size: 1.8rem;
  font-weight: 600;
}

.location-box {
  color: #88869d;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 4rem;
}

.location-icon {
  fill: currentColor;
}

///////////////////////////
// Search //
///////////////////////////

.search {
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #1e213a;
  z-index: 2;
  padding: 2rem;

  transition: 0.3s;

  @media only screen and(max-width: 15.625em ) {
    //250px
    padding: 1rem;
  }

  // display: flex;
  // flex-direction: column;
  // justify-content: stretch;
  // align-items: center;

  &__close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    fill: #e7e7eb;
    cursor: pointer;

    @media only screen and(max-width: 15.625em ) {
      //250px
      top: 1rem;
      right: 1rem;
    }
  }

  &__form {
    // display: flex;
    // align-items: center;
    // justify-content: stretch;
    // flex-wrap: wrap;
    display: grid;

    grid-template-columns: 1fr min-content;

    gap: 1rem;

    margin-top: 6rem;
    width: 100%;
  }

  &__input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    // flex: 0 0 80%;
  }

  &__icon {
    z-index: 1;
    fill: #616475;
    margin-right: -3rem;
  }

  &__input {
    padding: 1.2rem;
    padding-left: 3rem;

    background-color: #1e213a;
    border: 1px solid #e7e7eb;
    color: #e7e7eb;
    font-size: 1.6rem;
    width: 100%;
    display: inline-block;

    &::-webkit-input-placeholder {
      font-size: 1.6rem;
      color: #616475;
      line-height: 1.878rem;
    }
  }

  &__btn {
    padding: 1.2rem 1.4rem;
    background-color: #3c47e9;
    color: #e7e7eb;
    line-height: 1.9rem;
    border: 0;
    align-self: stretch;

    // margin-left: 1.2rem;
    // flex: 0 0 10%;

    &:focus {
      outline: none;
    }
  }

  &__results {
    list-style: none;
    margin-top: 2rem;
    text-align: left;
  }
  &__result-item {
    padding: 2rem 1.2rem;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #e7e7eb;

    &:hover {
      border: 1px solid #616475;
    }
  }
  &__error {
    padding: 2rem 1.2rem;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #ff0000;
  }
}
.open-search {
  left: 0 !important;
}
